@use '../mixins/hover.scss' as *;
@use '../mixins/responsive.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  padding-inline: 16px;

  @include responsive(tablet) {
    display: flex;
    flex-direction: row;
    padding-inline: 39px;
  }

  &__title {
    font-weight: 800;
    font-size: 40px;
    color: var(--title);
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--text);
  }

  &__button {
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
    background-image: linear-gradient(#ff6f48, #f02aa6);
    width: 167px;
    height: 56px;
    padding: 15px 37px;
    border-radius: 31.5px;
    text-align: center;
    margin-bottom: 24px;

    @include hover {
      opacity: 0.5;
    }

    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background-color: white;
      width: 167px;
      height: 56px;
      border-radius: 31.5px;
      opacity: 0;
    }
  }

  &__image {
    width: 640px;

    @include responsive(tablet) {
      position: relative;
      left: 150px;
      top: -50px;
    }
  }
}
